<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv/Shikha-cv.pdf">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:cs16d008@smail.iitm.ac.in">email: CS16D008[AT]smail[DOT]iitm[DOT]ac[DOT]in</a></li>
	        		<li><a href="https://github.com/shikha369">github.com/shikha369</a></li>
				</ul>
			</footer>
		</body>
	</html>
